# Python

*.pyc
*ynb_checkpoin*
__pycache__/


=======

#Plotting stuff
*.png
*.mpy
*.mov

#data_directories
data_dir
myrun
run
data
gitm_data
sami_data
run2
sami_dir
out_plots_gitm
out_plots_sami
gitm_out_plots

# Doc build
docs/build


# core dumps, esmf logs
PET*
core*
*DS_*

# Testing folders
OUTPUTS
test


# temp files:
tmp_*

